header{
    background-color: rgb(255, 255, 255);
    width: 400px;
    position: relative; top: 20px; left: 40%;

}

@font-face {
    font-family: Always;
    src:url(/Fonts/Always.otf);
}

h1{
    font-family: Always;
    text-align: center;
    padding-top: 100px;
    font-size: 80px;
}

.logo{
    width: 300px;
    height: 300px;
    display: flex;
}

.logobox{
    position: absolute; top: 40px; left: 230px;
}

p{
    text-align: center;
    padding-top: 60px;

}

.fotoperfil{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    position: relative; top: 10px; left: 42%;
}

.titulo{
    text-align: center;
    font-family: 'Always';
    src: url('/Fonts/Always.otf');
}


#titulohome{
    text-align: center;
}

aside{
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    width: 300px;
    height: 500px;
    margin-top: 2cm;
}

html,body {width: 100%;height: 100%;}
*{-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}

body {
	font-family: "Roboto Regular", "Helvetica Neue", Arial, sans-serif;
	color: #323232;
	font-size: 16px;
	line-height: 1.6;
    background-color: rgb(255, 255, 255);
}
.flex{
	width: 100%;
	height: 100%;
	display: flex;
}
.nav{
	background: none;
}
.nav li{
	display: inline-block;
}
.nav li a{
	display: inline-block;
	padding: 25px 25px;
	color:rgb(0, 0, 0);
	text-decoration: none;
	transition: color .4s cubic-bezier(.23,1,.32,1);
}

.nav li a:hover{
	color:#8b8b8b;
}

#tituloreceta{

    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
}

.nav li a{
    
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:10px 15px;
    display:block;
    }
    
.nav li a:hover{
    
    background-color:#434343;
    
    }
    
.nav li ul{
    
    display:none;
    position:absolute;
    min-height:140px;
    }
    
.nav li:hover > ul{
    
    display:block;
    
    }
    
.nav li ul li{
    
    position:relative;
    
    }
    
.nav li ul li ul{
    
    right:-140px;
    top:0px;
    
    }
    
.nav > li{
    float:left;
    }

.section{
   
}

footer {
        background:#363b3f;
        padding-bottom: 20px;
       }
      
footer p {
        font-size:12px;
        color:#fff;
        text-align:center;
        padding-top: 20px;
      }
      
footer ul {
          width: 100%;
          text-align: center;
          margin-top: 20px;
          padding-left: 0px;
      }
      
footer li {
          display: inline-block;
          margin: 4px;
      }
      
footer li a {
          display: block;
          text-decoration: none;
          border-bottom: medium none;
          padding: 10px;
          border-radius: 3px;
          transition: all 0.3s ease-in 0s, all 1s ease 0s;
          background: #444749;
      }
      
      
footer .twitter:hover {
        background-color:#00a9f1;
      }
footer .youtube:hover {
        background-color:#ff3333;
      }
footer .codeberg:hover {
        background-color:#2f2f2f;
      }